<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gidal.mapper.EnterpriseMapper">

	<insert id="join">
		insert into enterprise values (#{enterprise_code}, #{enterprise_email}, #{enterprise_password},#{enterprise_name},
		#{enterprise_phoneNum},#{enterprise_businessName}, #{enterprise_phone}, #{enterprise_sectors},#{enterprise_service},#{enterprise_mainImg},
		#{enterprise_img1},#{enterprise_img2},#{enterprise_img3},#{enterprise_img4},#{enterprise_add1},#{enterprise_add2},
		#{enterprise_add3},#{enterprise_operatingOpenTime},#{enterprise_operatingCloseTime},#{enterprise_breakStartTime},#{enterprise_breakCloseTime},#{enterprise_closed})
	</insert>


	<select id="boardview" resultType="org.gidal.enterprise.domain.EnterpriseVO">
		select (enterprise_sectors, enterprise_service, enterprise_mainImg, enterprise_img1, enterprise_img2, enterprise_img3, enterprise_img4, enterprise_address, enterprise_addressDetail, enterprise_operatingTime, enterprise_breakTime, enterprise_closed)
		from enterprise
	</select>

	<select id="boardlist" resultType="org.gidal.enterprise.domain.EnterpriseVO">
		select enterprise_businessName, enterprise_sectors, enterprise_service, enterprise_add2, enterprise_closed
		from enterprise order by enterprise_code DESC;
	</select>

	<update id="boardupdate">
		update enterprise set enterprise_sectors = #{enterprise_sectors}, enterprise_service = #{enterprise_service}, enterprise_mainImg = #{enterprise_mainImg}, enterprise_img1 = #{enterprise_img1},
		enterprise_img2 = #{enterprise_img2}, enterprise_img3 = #{enterprise_img3}, enterprise_img4 = #{enterprise_img4}, enterprise_address = #{enterprise_address}, enterprise_addressDetail = #{enterprise_addressDetail},
		enterprise_operatingTime = #{enterprise_operatingTime}, enterprise_breakTime = #{enterprise_breakTime}, enterprise_closed = #{enterprise_closed} where enterprise_email = #{enterprise_email}
	</update>


</mapper>