<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gidal.mapper.EventMapper">

	<select id="closedEventList" resultType="org.gidal.event.domain.EventVO">
		<![CDATA[
		SELECT 
			* 
		FROM 
			event 
		WHERE 
			event_endDate < date(now()) 
		ORDER BY 
			event_no DESC
		LIMIT 
			#{startRow}, 10;
		]]>  
	</select>
	
	<select id="currentEventList" resultType="org.gidal.event.domain.EventVO">
		<![CDATA[
		SELECT 
			* 
		FROM 
			event 
		WHERE 
			event_startDate <= date(now()) AND event_endDate >= date(now()) 
		ORDER BY 
			event_no DESC
		LIMIT 
			#{startRow}, 10;
		]]>  
	</select>
	
	<select id="upcomingEventList" resultType="org.gidal.event.domain.EventVO">
		<![CDATA[
		SELECT 
			* 
		FROM 
			event 
		WHERE 
			event_startDate > date(now()) 
		ORDER BY 
			event_no DESC 
		LIMIT 
			#{startRow}, 10;
		]]>  
	</select>
	
	<select id="detailEvent" resultType="org.gidal.event.domain.EventVO">
		SELECT
			*
		FROM
			event
		WHERE
			event_no = #{event_no}
	</select>
	
	<select id="closedEventListCount" resultType="int">
		<![CDATA[
		SELECT 
			count(event_no) 
		FROM 
			event 
		WHERE 
			event_endDate <date(now());
		]]>
	</select>
	
	<select id="currentEventListCount" resultType="int">
		<![CDATA[
		SELECT 
			count(event_no) 
		FROM 
			event 
		WHERE 
			event_startDate <= date(now()) AND event_endDate >= date(now());
		]]>
	</select>
	
	<select id="upcomingEventListCount" resultType="int">
		<![CDATA[
		SELECT 
			count(event_no) 
		FROM 
			event 
		WHERE 
			event_startDate > date(now());
		]]>
	</select>
	
	<update id="eventModify">
		UPDATE 
			event 
		SET
		<choose>
		<when test = "event_image == null">
			event_title = #{event_title}, event_startDate = #{event_startDate}, 
			event_endDate = #{event_endDate}, event_content = #{event_content} 
		</when>
		<otherwise>
			event_title = #{event_title}, event_startDate = #{event_startDate}, 
			event_endDate = #{event_endDate}, event_image = #{event_image}, 
			event_content = #{event_content} 
		</otherwise>
		</choose> 
		WHERE  
			event_no=#{event_no};
	</update>
	
	<delete id="eventDelete">
		DELETE FROM 
			event 
		WHERE event_no = #{event_no};
	</delete>
	
</mapper>