<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gidal.mapper.ReserveMapper">

	<insert id="reserve">
		insert into reserve values (#{reserve_code}, #{enterprise_code}, #{reserve_personnel}, #{reserve_datetime}, #{user_name}, #{user_phoneNum})
	</insert>

	<select id="selectOne" resultType="org.gidal.user.domain.UserVO">
		select * from user where user_email = #{user_email}
	</select>

	<select id="selectView" resultType = "org.gidal.enterprise.domain.EnterpriseVO">
		select * from enterprise where enterprise_code = #{enterprise_code}
	</select>







</mapper>