<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.gidal.mapper.WaitingMapper">

	<insert id="waiting">
		insert into waiting values (#{waiting_code}, #{enterprise_code}, #{waiting_personnel}, #{user_name}, #{user_phoneNum}, #{waiting_now}, #{waiting_yn})
	</insert>


	<select id="selectView" resultType = "org.gidal.enterprise.domain.EnterpriseVO">
		select * from enterprise where enterprise_code = #{enterprise_code}
	</select>

	<select id="selectList" resultType = "org.gidal.waiting.domain.WaitingVO">
		SELECT * FROM waiting WHERE enterprise_code = #{enterprise_code} and waiting_now between concat(CURDATE(), ' ', '00:00:00') and concat(CURDATE(), ' ', '23:59:59') and waiting_yn = 'n';
	</select>

	<select id="selectList_count" parameterType = "org.gidal.waiting.domain.WaitingVO" resultType="java.lang.Integer">
		SELECT IFNULL(COUNT(*),0) FROM waiting WHERE enterprise_code = #{enterprise_code} and waiting_now between concat(CURDATE(), ' ', '00:00:00') and concat(CURDATE(), ' ', '23:59:59');
	</select>


	<select id="selectOne" resultType="org.gidal.user.domain.UserVO">
		select * from user where user_email = #{user_email}
	</select>






</mapper>