<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gidal.gidalv2.user.mapper.UserMapper">

    <insert id="userReg">
        INSERT INTO user VALUES (#{id}, #{user_phoneNum}, #{user_name}, #{user_email}, #{user_password}, #{user_gender},
        #{enterprise_yn}, #{admin_yn})
    </insert>

    <select id="mailCkeck" resultType="Integer">
        SELECT COUNT(*) FROM user WHERE user_email = #{user_email}
    </select>

</mapper>
